<%- include('./partials/header') %>

<h1>Welcome to Climbing Advice!</h1>
<h2 class="subtitle">This is a forum dedicated to climbers helping other climbers.</h2>
<p>
    Here fellow climbers can post videos of themselves climbing with specific issues in mind. Such as: 
</p>
<ul class="list">
    <li>"Should I be flagging here?"</li>
    <li>"I can't establish on this foot!"</li>
    <li>"Help with my heel hook please."</li>
</ul>

<%- include('./partials/footer') %>
