<%- include('./partials/header') %>

<article class="text"> 
    <h1>Welcome to Climbing Advice!</h1>
    <h2 class="subtitle">This is a forum dedicated to climbers helping other climbers.</h2>
    <p>
        <h3>Here fellow climbers can post videos of themselves climbing with specific issues in mind. Such as:</h3> 
        <ul class="list">
            <li><span>"</span> Should I be flagging here? <span>"</span></li>
            <li><span>"</span> I can't establish on this foot! <span>"</span></li>
            <li><span>"</span> Help with my heel hook please. <span>"</span></li>
        </ul>
        <h4>
            Adding a post is easy too! Just login with a google account and navigate to the add post page, all the instructions are there.<br>
            Climbers can also post comments on posts to help their digital climbing partner out with a climb!
        </h4>
    </p>
</article>

<%- include('./partials/footer') %>
