* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  margin: 0;
  font-family: 'Mukta', sans-serif;
  background-color: cornsilk;
}

.title {
  height: auto;
  background-color: rgb(0, 0, 51);
  color: white;
  margin: 0;
  padding: 5vmin;
  padding-bottom: 3vmin;
  font-family: 'Share Tech Mono', monospace;
}

.header {
  height: fit-content;
  display: grid;
  gap: 10vmin;
  margin-top: 0;
  background-color: rgb(0, 0, 51);
}
.header > a {
  height: auto;
  width: 20vmin;
  text-decoration: none;
  padding: 2vmin;
  border: solid .5vmin rgb(255 250 129);
  border-bottom: 0;
  font-family: 'Share Tech Mono', monospace;
  font-size: 2.5vmin;
  color:rgb(255 250 129)
}

.header > a:hover {
  text-decoration: underline;
}

#logged-in {
  grid-template-columns: 1fr 4fr repeat(3, 1fr);
}

#logged-out {
  grid-template-columns: 1fr 5fr repeat(2, 1fr);
}

#home {
  border-left: 0;
}

#login, #logout {
  border-right: none;
}

.text {
  margin-left: 5vmin;
  text-align: center;
}

.text > h1 {
  font-size: 7vmin;
  text-align: center;
}

i {
  color: red
}

.imgs {
  display: flex;
  margin: auto;
  width: fit-content;
  border: solid 1vmin rgb(0, 0, 51)
}

.imgs > img {
  border: solid 0.75vmin black;
  margin: 3vmin;
}

#step1 {
  height: 50vmin;
}

#step2 {
  height: 50vmin;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list > li {
  height: 20vmin;
  display: flex;
  align-items: center;
  font-size: xx-large;
  margin: 3vmin;
}

.list > li > span {
  margin: 0 4vmin;
  font-size: 20vmin;
}

.post {
  margin: auto;
  display: grid;
  grid-template-columns: 80vmin 40vmin;
  justify-content: center;
  place-items: center;
}

.post > input, textarea {
  background-color: transparent;
  border: solid 0.75vmin rgb(0, 0, 51);
  border-radius: 1vmin;
  width: 50vmin;
  font-family: 'Mukta', sans-serif;
}

.post > input {
  height: 5vmin;
  font-size: 2vmin;
}

.post > textarea {
  height: 10vmin;
}

.post > button {
  font-size: 3vmin;
  height: 10vmin;
  width: 30vmin;
  background-color: rgb(0, 0, 51);
  color: rgb(255 250 129);
  margin-top: 5vmin;
  grid-column: span 2;
  border: none;
  border-radius: 10vmin;
}

.post > button:hover {
  border: solid 0.75vmin rgb(255 250 129)
}

.show-post {
  display: flex;
  flex-direction: column;
}

.show-post > :not(h1) {
  margin-left: 20vmin;
}

.show-post > h1 {
  text-align: center;
  font-size: 5vmin;
}

.show-post > iframe {
  box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.75);
  margin: 0 auto;
}

.show-post > p {
  padding: 2vmin;
  margin: 0 20vmin 1vmin;
  border: solid 1vmin rgb(0, 0, 51);
  font-size: 2.7vmin;
}

#delete {
  padding: 0;
  margin-top: 1vmin;
  background-color: cornsilk;
  border: none;
  font-family: 'Mukta', sans-serif;
  text-decoration: underline;
}

#delete:hover {
  color: red;
}

.light {
  font-weight: 200;
}

#desc {
  margin: 2vmin auto 0;
}

.comments > * {
  margin: 1vmin 0;
  padding: 0;
}

.comments > p {
  margin-right: 20vmin;
  border: solid 0.5vmin rgb(0, 0, 51);
  padding: 1vmin;
}

#post-comment {
  margin: 3vmin auto 7vmin;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts > a {
  color: rgb(0, 0, 51);
  margin: 2vmin;
  text-decoration: none;
  padding: 1vmin;
}

.posts > a:hover {
  background-color: rgb(0, 0, 51);
  color: rgb(255 250 129);
}

.posts > a > * {
  margin: 0;
}

