<%- include('../partials/header') %>

<form action="/posts" method="POST">
    <label> Enter Title:
        <input type="text" name="title">
    </label> <br>
    <label> Insert YT:
        <input type="text" name="video">
    </label> <br>
    <label> Enter Description:
        <textarea name="description"></textarea>
    </label> <br>
    <button type="submit">Create New Post</button>
</form>

<%- include('../partials/footer') %>
